/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* basic page styling */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", "sans-serif";
  background-color: #f0eef1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 20px 60px;
  box-shadow: 0 0px 10px #5a5a5ab0;
  z-index: 1;
}

nav > p:nth-child(1) {
  font-size: 46px;
  font-weight: 700;
}

.book-form {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.5);
}

.book-form > fieldset {
  position: relative;
  background-color: white;
  border-radius: 12px;
  padding: 28px;
  display: flex;
  flex-direction: column;
}

.book-form legend {
  position: absolute;
  top: 20px;
  font-size: 26px;
  font-weight: 600;
  align-self: center;
}

.book-form > fieldset > div {
  margin-bottom: 20px;

  &:first-of-type {
    margin-top: 40px;
  }
}

.library {
  flex: 1;
  background-color: #f0eef1;
}

.library > .addBook {
  font-family: inherit;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: 700;
}

.book-container {
  display: grid;
  gap: 50px;
  padding: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.book-card {
  background-color: white;
  border-radius: 12px;
  outline: 1px solid rgb(66, 66, 66);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 25px;
  font-weight: 400;
}

.book-card > .delete-book-btn {
  width: 100%;
  background-color: #f39a9b;
  border-radius: 12px;
  border: none;
  outline: none;

  &:hover {
    background-color: #f01619;
    color: white;
  }
}

.book-card > p[read-status] {
  width: 100%;
  border-radius: 12px;
  text-align: center;
  background-color: orange;

  &:hover {
    opacity: 0.5;
  }
}

.book-card > .read-book[read-status] {
  background-color: rgb(32, 196, 32);
}
