/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* basic page styling */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  font-family: "Poppins", "sans-serif";
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 20px 60px;
  box-shadow: 0 0px 10px #5a5a5ab0;
  z-index: 1;
}

nav > p:nth-child(1) {
  font-size: 46px;
  font-weight: 700;
}

.library {
  flex: 1;
  background-color: #f0eef1;
}
